<div class="collapsible collapsible--expanded">
  <header class="collapsable__header">
    <h2 class="collapsable__heading">Item 1</h2>
    <svg class="icon icon--white collapsable__chevron">
      <use xlink:href="/Images/sprite.svg#chevron"></use>
    </svg>
  </header>
  <div class="collapsable__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nobis porro
    vel sed, suscipit commodi, nostrum at nihil dolore modi cumque officia sint
    cupiditate! Minus eius, tenetur amet, saepe quo repudiandae id itaque,
    magnam eveniet ea sint cumque autem. Eos.
  </div>
</div>
<script src="/JAVA/main.js"></script>
