<footer class="container block--dark footer">
  <div class="container grid footer__sections">
    <section class="collapsible collapsible--expanded">
      <header class="collapsable__header footer__section">
        <h2 class="collapsable__heading footer__heading">Item 1</h2>
        <svg class="icon icon--white collapsable__chevron">
          <use xlink:href="/Images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsable__content">
        <ul class="list">
          <li><a href="#">Website Hosting</a></li>
          <li><a href="#">Free Automated Wordpress</a></li>
          <li><a href="#">Migrations</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible">
      <header class="collapsable__header footer__section">
        <h2 class="collapsable__heading footer__heading">Item 2</h2>
        <svg class="icon icon--white collapsable__chevron">
          <use xlink:href="/Images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsable__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nobis
        porro vel sed, suscipit commodi, nostrum at nihil dolore modi cumque
        officia sint cupiditate! Minus eius, tenetur amet, saepe quo repudiandae
        id itaque, magnam eveniet ea sint cumque autem. Eos.
      </div>
    </section>
    <section class="collapsible">
      <header class="collapsable__header footer__section">
        <h2 class="collapsable__heading footer__heading">Item 3</h2>
        <svg class="icon icon--white collapsable__chevron">
          <use xlink:href="/Images/sprite.svg#chevron"></use>
        </svg>
      </header>
      <div class="collapsable__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nobis
        porro vel sed, suscipit commodi, nostrum at nihil dolore modi cumque
        officia sint cupiditate! Minus eius, tenetur amet, saepe quo repudiandae
        id itaque, magnam eveniet ea sint cumque autem. Eos.
      </div>
    </section>
    <section class="footer__brand">
      <img src="/IMAGES/logo.svg" alt="" />
      <p class="footer__copyright">Copyright 2020 Mosh Hamedani</p>
    </section>
  </div>
</footer>
