<section class="block block--dark block--skewed-right block-showcase">
    <header class="block__header">
      <h2>Use-Friendly Control Pannel</h2>
    </header>
    <div class="container grid grid--1x2">
      <picture class="block-showcase__image">
        <source
          type="image/webp"
          srcset="/IMAGES/ipad.webp 1x, /IMAGES/ipad@2x.webp 2x"
        />
        <source
          type="image/jpg"
          srcset="/IMAGES/ipad.jpg 1x, /IMAGES/ipad@2x.jpg 2x"
        />
        <img src="/IMAGES/ipad@2x.jpg" alt="" />
      </picture>
      <ul class="list">
        <li>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="/Images/sprite.svg#snap"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title">Easy Start & Managed Updates</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium minima
                magnam quod corporis dolores officiis amet nisi adipisci rerum doloribus?
              </p>
            </div>
          </div>
        </li>
        <li>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="/Images/sprite.svg#growth"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title">Staging, Git & WP-CLI</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium minima
                magnam quod corporis dolores officiis amet nisi adipisci rerum doloribus?
              </p>
            </div>
          </div>
      </li>
        <li>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary">
                <use xlink:href="/Images/sprite.svg#wordpress"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title">Dynamic Catching and More</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium minima
                magnam quod corporis dolores officiis amet nisi adipisci rerum doloribus?
              </p>
            </div>
          </div>
        </li>
      </ul>
  </section>